body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:burlywood;
}
.container{
    background-color:bisque;
    color: black;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50, -50);
    border: solid black 5px;
    border-radius: 15px;
    padding: 15px;
}

.calculo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: black;
    background-color: burlywood;
    border: solid black 3px;
    margin-left: 30%;
    width: 40%;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    padding: 5px;
}

p{
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-right: 10px;
}

.operadores{
    font-size: 20px;
}

input{
    background-color: burlywood;
    border: solid 2px black;
    border-radius: 5px;
    color: black;
    margin-right: 10px;
}

button{
    background-color: burlywood;
    font-size: 15px;
    font-weight: bolder;
    border: solid black 2px;
    border-radius: 5px;
    cursor: pointer;
}

hr{
    height:0px; 
	border: 2px solid;
}


